version: '3.4'

services:
  trendyollinkconverter.api:
    image: ${DOCKER_REGISTRY-}trendyollinkconverterapi
    build:
      context: .
      dockerfile: TrendyolLinkConverter.Api/Dockerfile
    depends_on:
      - mysql-db

  mysql-db: 
    image: mysql:latest
    container_name: link-converter-mysql
    ports:
        - "3306:3306"
    environment:
       MYSQL_DATABASE: 'LinkConverter'
       MYSQL_USER: 'user'
       MYSQL_PASSWORD: 'admin'
       MYSQL_ROOT_PASSWORD: 'admin'
    volumes:
      - link-converter-mysql-db:/var/lib/mysql

volumes:
    link-converter-mysql-db:



